*{
    margin: 0;
    padding: 0;
  }
  
  html, css{
    width: 100%;
    height: 100%;
  }
  
  #workarea
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e1a3e;
    font-family: Raleway;
  }
  
  .position{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
  }
  
  .mybutton
  {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    margin-top: 0;
    border-radius: 3px;
  }
  
  #text{
    text-align: center;
    margin-top: -35px;
  }
  
  #text a
  {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 100;
    font-family: Raleway, sans-serif;
  }
  
  .mysite{
    position: absolute;
    bottom: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    right: 2%;
  }
  
  #shape
  {
    fill: transparent;
    stroke: #009FFD;
    stroke-width: 6px;
    transition: 1s all ease;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
  }
  
  .mybutton:hover #shape{
    stroke: #06D6A0;
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
  }